!!!
%html
  %head
    %title= @landing.title
    
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@bjsmth", :name => "twitter:site"}/
    %meta{:content => "#{@landing.title}", :name => "twitter:title"}/
    %meta{:content => "#{@landing.description}",   :name => "twitter:description"}/
    %meta{:content => "#{@landing.twitter_image}", :name => "twitter:image"}/

    = stylesheet_link_tag    "#{@landing.css_file}", media: 'all'
    = javascript_include_tag "#{@landing.js_file}"

  %body
    = raw @landing.code
  
  
