= link_to "Добавить сайт", new_admin_item_path, params: {category_id: '1'}

.row
  .col-md-5
    %h1= @category.name
    / = link_to "Редактировать", edit_admin_category_path(@category)
    = link_to 'Удалить категорию', admin_category_path(@category), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger"
    %hr
    = simple_form_for([:admin, @category]) do |f|
      = f.error_notification
      .form-group
        = f.input :name, input_html: {class: "form-control"}, label: false
      .form-group
        = f.submit "Обновить", class: "btn btn-xs btn-success"
  .col-md-7
    .row
      - @category.items.each do |item|
        .col-md-4
          .panel.panel-default
            .panel-body
              = link_to item.name, admin_item_path(item)
              = link_to 'Удалить сайт', admin_item_path(item), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-default"
