%br

= link_to "/", class: "btn btn-default btn-circle btn-xs" do
  = fa_icon "user" 
  Войти

%hr

%ul.nav.nav-pills.nav-stacked
  %li
    = link_to "Рейтинг букмекеров", "", class: "", active: :exclusive, wrap_tag: 'li'
  %li
    = link_to "Полезные статьи", "", class: "", active: :exclusive, wrap_tag: 'li'
  %li
    = link_to "Стратегии успеха", "", class: "", active: :exclusive, wrap_tag: 'li'
  %li
    = link_to "Блоги участников", "", class: "", active: :exclusive, wrap_tag: 'li'

%br

%ul.nav.nav-pills.nav-stacked
  - @top_items.each do |item|
    = active_link_to item.name, short_link_path(item), active: :exclusive, :wrap_tag => "li"

%br
%ul.nav.nav-pills.nav-stacked.gray-stacked
  = active_link_to "Телеграм канал", admin_root_path, class: "", active: :exclusive, wrap_tag: 'li'
  = active_link_to "Новое на сайте", admin_root_path, class: "", active: :exclusive, wrap_tag: 'li'

%br
%br
%br
%br
%br
%br
%br
%br


= link_to "https://www.facebook.com/groups/bablosport/", target: "_blank", class: "btn btn-default btn-sm" do
  = fa_icon "facebook-official"
= link_to "http://telegram.me/bablosport", class: "btn btn-default  btn-sm", target: "_blank" do
  = fa_icon "telegram"
= link_to "https://www.instagram.com/bablosport_site", target: "_blank", class: "btn btn-default  btn-sm" do
  = fa_icon "instagram"
= link_to "mailto:help@bablosport.ru?subject=Вопрос с сайта", class: "btn btn-default  btn-sm" do
  = fa_icon "envelope"










