!!!
%html
  %head

    %title
      = yield(:title) 
      | 
      Ставки на спорт, прогнозы, статьи, стратегии, блоги участников и многое другое
    
    %meta{:content => "", :name => "Bablosport - сайт о заработке в сети. Ставки на спорт, прогнозы, статьи, стратегии, блоги участников"}/

    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@bjsmth", :name => "twitter:site"}/
    %meta{:content => "Bablosport - сайт о заработке в сети", :name => "twitter:title"}/
    %meta{:content => "Каталог сайтов, блоги участников и многое другое", :name => "twitter:description"}/
    %meta{:content => "http://static3.depositphotos.com/1000441/196/i/950/depositphotos_1967582-stock-photo-big-pile-of-the-money.jpg", :name => "twitter:image"}/


    %meta{:content => "Bablosport - сайт о заработке в сети", :property => "og:title"}/
    %meta{:content => "http://static3.depositphotos.com/1000441/196/i/950/depositphotos_1967582-stock-photo-big-pile-of-the-money.jpg", :property => "og:image"}/
    %meta{:content => "Bablosport", :property => "og:site_name"}/
    %meta{:content => "Каталог сайтов, блоги участников и многое другое", :property => "og:description"}/


    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'site/parts/navbar'
    %br/
    %br/
    %br/
    %br/
    .container
      = render 'site/widgets/top'

      .row
        .col-md-9
          = yield
        .col-md-3
          = render 'site/parts/menu'

    %footer.footer
      .container
        .row
          .col-md-8
            = link_to "https://www.facebook.com/groups/bablosport/", target: "_blank", class: "btn btn-default" do
              = fa_icon "facebook-official"
            = link_to "http://telegram.me/bablosport", class: "btn btn-default", target: "_blank" do
              = fa_icon "telegram"
            = link_to "https://www.instagram.com/bablosport_site", target: "_blank", class: "btn btn-default" do
              = fa_icon "instagram"
            = link_to "mailto:help@bablosport.ru?subject=Вопрос с сайта", class: "btn btn-default" do
              = fa_icon "envelope"
          .col-md-4
            %p.text-muted 2017 Bablosport.ru - Сайт о ставках на спорт.


