!!!
%html
  %head
    %title Bablo
    
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@bjsmth", :name => "twitter:site"}/
    %meta{:content => "Bablosport - сайт о заработке в сети", :name => "twitter:title"}/
    %meta{:content => "Каталог сайтов, блоги участников и многое другое", :name => "twitter:description"}/
    %meta{:content => "http://static3.depositphotos.com/1000441/196/i/950/depositphotos_1967582-stock-photo-big-pile-of-the-money.jpg", :name => "twitter:image"}/


    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'site/parts/navbar'
    %br/
    %br/
    %br/

    .container
      = render 'site/widgets/top'

      .row
        .col-md-9
          = yield
        .col-md-3
          = render 'site/parts/menu'
    %footer.footer
      .container
        %p.text-muted Place sticky footer content here.
